@import url('https://fonts.googleapis.com/css?family=Rokkitt');
@import url('https://fonts.googleapis.com/css?family=Fugaz+One');

$font-stack: 'Rokkitt', serif;
$logo-font: 'Fugaz One', cursive;
$primary-color: rgba(0,84,127, 0.9);
$secondary-color: rgb(76,195,255);
$tertiary-color: rgba(76,195,204,0.6);
$gray: #C0C0C0;
$button-color: #FF9700;


body {
  background-image: url(https://images.pexels.com/photos/3008/drinks-supermarket-cans-beverage.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-size: cover;
  font-family: $font-stack;
}

nav {
  background-color: $tertiary-color;
  color: $primary-color;

  .logo {
    font-family: $logo-font;
  }

  .nav-welcome {
    font-size: 1.7rem;
    font-weight: bold;
  }

  li {
    list-style-type: none;
  }
}


.main-class {
  height: 100%;
  padding-top: 2%;
}

h1 {
  font-size: 3.0rem;
}


label {
  padding-right: 15px;
  font-size: 1.3rem;
}

.login-card {
  text-align: center;
  align-items: center;
  background-color: $primary-color;
  color: $gray;
  border-radius: 30%;
  box-shadow: 2px 4px 6px 8px $gray;

  button {
    width: 30%;
    margin-top: 10px;
  }

  h1 {
    font-family: $logo-font;
  }


  .new-user {
    font-size: 1.5rem;
  }

  .register {
   color: $button-color; 
  }
}

.register-page {
  text-align: center;
  background-color: $primary-color; 
  color: $gray;
  box-shadow: 2px 4px 6px 8px $gray;
  align-items: center;
  margin-bottom: 5%;

  input {
    width: 95%;
  }

  .radio {
    width: 20%;
  }

  button {
    width: 30%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.dashboard-page {
  text-align: center;
  background-color: $primary-color; 
  color: $gray;
  box-shadow: 2px 4px 6px 8px $gray;
  align-items: center;
  margin-bottom: 5%;
  
  button {
    width: 30%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

}

.dashboard-table {
  color: $secondary-color;
  font-family: serif;
  font-weight: lighter;

  tr {
    justify-items: center;
  }

  .count {
    font-size: 1.4rem;
  }



}

%chain-record-modal {
  background-color: $gray;
  font-size: 1.2rem;
  color: $primary-color;
  width: 125%;
}

.chain-record-modal-header {
  @extend %chain-record-modal;
  text-align: center;
}

.chain-record-modal-body {
  @extend %chain-record-modal;

  label {
    font-weight: bold;
  }

}

.chain-record-modal-footer {
  @extend %chain-record-modal;

  button {
    width: 200px;
  }

}

.dashboard-spinner {
  font-size: 2.0rem;
}

%status-circle {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
}

.red-circle {
  @extend %status-circle;
  background-color:red;
}

.green-circle {
  @extend %status-circle;
  background-color: green;
}

.yellow-circle {
  @extend %status-circle;
  background-color: yellow;
}

.verify-button {
  background-color: $tertiary-color;
  color: $gray;
  padding: 5px;
  cursor: pointer;
  box-shadow: 2px 2px 2px 2px $gray;
  color: white;
  margin: 0 10%;
  max-width: 150px;
}

.disabled-button {
  background-color: rgba(13,255,223,0.2);
  cursor: not-allowed;
  color: $gray;
}

.fa-size {
  font-size: 24px;
}

.center {
  text-align: center;
}