@import url('https://fonts.googleapis.com/css?family=Rokkitt');
@import url('https://fonts.googleapis.com/css?family=Fugaz+One');

$font-stack: 'Rokkitt', serif;
$logo-font: 'Fugaz One', cursive;
$primary-color: rgba(5, 47, 69, 0.9);
$secondary-color: rgb(76,195,255);
$tertiary-color: rgba(76,195,204,0.6);
$gray: #C0C0C0;
$link-color: #FF9700;


body {
  // background-image: url(https://images.pexels.com/photos/3008/drinks-supermarket-cans-beverage.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  // background-size: cover;
  font-family: $font-stack;
}

.logo {
  font-family: $logo-font;
}

nav {
  background-color: $tertiary-color;
  color: $primary-color;
  margin-bottom: 10px;

  .nav-welcome {
    font-size: 1.7rem;
    font-weight: bold;
  }

  li {
    list-style-type: none;
  }
}


.main-class {
  height: 100%;
}

h1 {
  font-size: 3.0rem;
}


label {
  padding-right: 15px;
  font-size: 1.3rem;
}

.login-card {
  text-align: center;
  align-items: center;
  background-color: $primary-color;
  color: $gray;
  border-radius: 30%;
  box-shadow: 2px 4px 6px 8px $gray;

  button {
    width: 30%;
    margin-top: 10px;
  }

  h1 {
    font-family: $logo-font;
  }


  .new-user {
    font-size: 1.5rem;
  }

  .register {
   color: $link-color; 
  }
}

.register-page {
  text-align: center;
  background-color: $primary-color; 
  color: $gray;
  box-shadow: 2px 4px 6px 8px $gray;
  align-items: center;
  margin-bottom: 5%;

  input {
    width: 95%;
  }

  .radio {
    width: 20%;
  }

  button {
    width: 30%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.dashboard-page {
  text-align: center;
  background-color: $primary-color; 
  color: $gray;
  box-shadow: 2px 4px 6px 8px $gray;
  align-items: center;
  margin-bottom: 5%;
  
  button {
    width: 25%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.dashboard-table {
  color: $secondary-color;
  font-family: serif;
  font-weight: lighter;

  tr {
    justify-items: center;
  }

  .count {
    font-size: 1.4rem;
  }

}

%chain-record-modal {
  background-color: $gray;
  font-size: 1.2rem;
  color: $primary-color;
  width: 125%;
}

.chain-record-modal-header {
  @extend %chain-record-modal;
  text-align: center;
}

.chain-record-modal-body {
  @extend %chain-record-modal;

  label {
    font-weight: bold;
  }

}

.chain-record-modal-footer {
  @extend %chain-record-modal;

  button {
    width: 200px;
  }

}

.dashboard-spinner {
  font-size: 2.0rem;
}

%status-circle {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
}

.red-circle {
  @extend %status-circle;
  background-color:red;
}

.green-circle {
  @extend %status-circle;
  background-color: green;
}

.yellow-circle {
  @extend %status-circle;
  background-color: yellow;
}

.verify-button {
  background-color: $tertiary-color;
  color: $gray;
  padding: 5px;
  cursor: pointer;
  box-shadow: 2px 2px 2px 2px $gray;
  color: white;
  margin: 0 10%;
  max-width: 150px;
}

.disabled-button {
  background-color: rgba(13,255,223,0.2);
  cursor: not-allowed;
  color: $gray;
}

.fa-size {
  font-size: 24px;
}

.center {
  text-align: center;
}

.pull-right {
  float: right;
  margin-bottom: 30px;
  button {
    width: 100%;
  }
}

.pull-left {
  float: left;
}

.arrow_box {
	position: relative;
	background: $gray;
  border: 4px solid #c2e1f5;
  height: 100px;
  text-align: center;
  content: "Lack of Trust"
}

.arrow_box:after, .arrow_box:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: "  ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(136, 183, 213, 0);
	border-left-color: $gray;
	border-width: 30px;
	margin-top: -30px;
}
.arrow_box:before {
	border-color: rgba(194, 225, 245, 0);
	border-left-color: $tertiary-color;
	border-width: 36px;
	margin-top: -36px;
}

.box-entry {
  color: $primary-color;
  text-align: center;
  font-size: 20px;
  line-height: 20pxpx;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  margin: 0;
  padding: 0;
  display: block;
  margin-block-start: 1.5em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.home-component {
  button {
    margin: 5px;
    margin-bottom: 15px;
  }

  p {
    font-size: 1.4rem;
    margin: 20px;
  }

  a {
    color: $link-color;
  }
  
  
  li {
    list-style-type: none;
    font-size: 1.3rem;
  }

  ul {
    padding-inline-start: 10px;
    padding-inline-end: 10px;
  }

  strong {
    color: $secondary-color;
  }

  h1 {
    color: $gray;
    margin-top: 10px;
  }

  hr {
    border: 0;
    height: 3px;
    background-image: linear-gradient(to right, rgba(26, 24, 24, 0), rgba(26, 24, 24, 0.75), rgba(26, 24, 26, 0));
  }

  .dashboard-page {
    min-height: 500px;
    background-color: $primary-color;
  }


}